<h1 style="background-color:Tomato;">Projects</h1>
<h2></h2>

<%= button_to "Add a New project",{ :action => "new" }, :method => :get%>

<% @projects.each do |project| %>
   <table>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      
      
      <td><%= button_to 'Edit', edit_project_path(project), method: 'get'%></td>
      
      
      <td><%= button_to 'Remove', project_path(project), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <br>
  <% end %>
</table>

